.minicard{
    width: 320px;
    height: 350px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    align-items: center;
    background-color: rgb(247, 231, 231);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: 2s;
    font-family: Inter;
    border-radius: 30px;


    img{
        width: 320px;
        height: 172px;
        border-radius: 30px;
    }

    p{
        font-size: 18px;
        margin: 5px 0;
    }

    div{
        background-color:#b7e7c7;
        padding: 10px 20px;
        border-radius: 30px;
    }

}

@media (max-width: 820px) {
    .minicard{
        width: 256px;
        height: 300px;

        >img{
            width: 256px;
            height: 141px;
        }
    }
  }