.minicard{
    width: 30%;
    height: 400px;
    display: flex;
    flex-flow: column;
    background-color: #FBEDC9;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;  
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);


    img{
        width: 90%;
        height: 200px;
        border-radius: 20px;
        margin-top: 10px;
    }

    p{
        margin: 5px 0;
    }

    div{
        background-color: #00C341;
        padding: 5px;
        border-radius: 5px;
        color: white;
        margin-bottom: 10px;
    }

}