.form-box__date{
    margin-bottom: 1rem;
    width: 30%;


  &-input{
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.4rem 0.8rem;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  }

  &-label{
    display: block;
    margin-bottom: 0.25rem;
    background-color: #f092a8;
    box-sizing: border-box;
    text-align: center;
    margin-left: 30px;
    border-radius: 0 0 20px 20px;
  }
}

.validationError{
    border-color: #5f0319;
    background-color: #ffe2e9;
  }