.form-box__open{
    margin-bottom: 1rem;
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &-input{
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }

    &-label{
        display: block;
        width: 110%;
        background-color: #f092a8;
        box-sizing: border-box;
        text-align: center;
        margin-left: 30px;
        border-radius: 20px;

    }
    
    h3{
        margin: 2px 0;
        font-family: Inter;
    }
}
