#root{
  height: 100%;
}

.App{
  background-color: #5f0319;
  height: 100%;
}

.header {
  height: 90px;
  background-color: #c3002f;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.header-link{
  display: block;
  height: 20px;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin: 14px;
  color: white;
}

.About-container,
.Notfound-container {
  height: 93vh;
}

.About-container,
.Notfound-container,
.Home-container{
  width: 100%;
  background-color: #5f0319;
}

.About-box,
.Notfound-box,
.Home-box{
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 15%;
  height: max-content;
  background-color: white;
}

.About-avatar{
  width: 30%;
  border-radius: 100%;
  border: solid 10px #c3002f;
  margin: 20px 0;
}

.About-textfield{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

.searchbar{
  width: 100%;
  height: 40px;
  padding: 5px 40px;
  margin: 10px 0;
  margin-right: 30px;
  border-radius: 20px;
  border: 2px solid #c3002f;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  background-color: rgba(155, 107, 107, 0.3);
  background-image: url("/public/images/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.card-description {
  overflow-y: scroll;
  height: 20%;
  border: solid 2px #5f0319 ;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card-description::-webkit-scrollbar-track{
  border: 1px solid #5f0319;
  padding: 2px 0;
  background-color: #404040;
}

.card-description::-webkit-scrollbar{
  width: 10px;
}

.card-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(155, 107, 107, 0.3);
  background-color: #c3002f;
  border: 1px solid #5f0319;
  border-radius: 5px;
}

.card-title{
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: Inter;
}

.card-author{
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: Inter;
}

.card-closed{
  background-color: #c3002f;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.card-open{
  background-color: #00c341;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.card-notSelected{
  width: 50%;
  height: 30px;
  border: 2px solid #5f0319;
  background-color: #c3002f;
  border-radius: 10px;
  background-image: url("/public/images/notChecked.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 5px;
  background-position: 10px;
  text-align: end;
  font-size: 13px;
  padding-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.card-selected{
  width: 50%;
  height: 30px;
  border: 2px solid #024418;
  background-color: #00c341;
  border-radius: 10px;
  background-image: url("/public/images/checked.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 5px;
  background-position: 10px;
  text-align: end;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  gap: 40px 0px;
  padding-bottom: 20px;
}

