$red: #c3002f;
$darkRed: #5f0319;

.form-container{
  height: fit-content;
  padding-bottom: 100px;
  width: 100%;
  background-color: #5f0319;
}

.form-box{
  width: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 15%;
  height: 700px;
  background-color: white;

  &__submit{
    all: unset;
    text-align: center;
    margin-left: 2.5%;
    width: 25%;
    height: 2rem;
    border: 2px solid $darkRed;
    text-align: center;
    color: white;
    background-color: $red;
  }
}

.cards-box{
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px 10px;
  background-color: white;
  margin-left: 15%;
  margin-top: 20px;
  padding: 10px 0;
}


