$green: #00c341;
$blue: #000dc3;
$red: #c3002f;
$darkRed: #5f0319;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html{
    background-color: #040323;
}

.hidden{
    display: none;
}

.card-overlay{
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.76);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.fullCard{
    position: relative;
    left: 30%;
    top: 25%;
    width: 40%;
    background-color: rgb(247, 231, 231);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    &-header{
        height: 90px;
        background-color: #040323;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 2;

        &-link{
            display: block;
            text-decoration: none;
            font-family: PT Sans, sans-serif;
            font-weight: 600;
            font-size: 33px;
            margin: 0 14px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: absolute;
            left: 10px;
            background-color: #3719CA;
            padding: 10px 20px;
            border-radius: 30px;
            transition: 400ms;
            &:hover{
                background-color: #fff;
                color: #040323;
              }
        }

        &-text{
            display: block;
            text-decoration: none;
            font-family: PT Sans, sans-serif;
            font-weight: 600;
            font-size: 33px;
            margin: 0 14px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }

    &__closeBtn{
        all: unset;
        display: inline-block;
        position: absolute;
        top: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
        opacity: 0.4;
        background-color: $darkRed;
        border-radius: 2px;
       
            &:hover {
                opacity: 1;
            }

            &:before, &:after {
                position: absolute;
                left: 19px;
                top: 2px;
                content: ' ';
                height: 35px;
                width: 2px;
                background-color: rgb(255, 255, 255);
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
    }

    >img{
       border-radius: 20px; 
       margin-top: 20px;
    }

    >div{
        margin: 5px 0;
    }

    &__name{
        font-weight: 600;
        font-size: 25px;
        text-decoration: underline;
    }

    &__episodes{
        width: 50%;
        text-align: center;

        >span{
            display: block;
            font-style: italic;
        }
    }

    &__alive, &__dead, &__unknown{
        width: 100%;
        color: white;
        text-align: center;
    }

    &__alive{
        background-color: $green;
    }

    &__dead{
        background-color: $red;
    }

    &__unknown{
        background-color: $blue;
    }
}

.card{
    width: 320px;
    height: 350px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    align-items: center;
    background-color: rgb(247, 231, 231);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: 2s;
    font-family: Inter;
    border-radius: 30px;

    >img{
        width: 320px;
        height: 172px;
        border-radius: 30px;
    }

    &__name{
        margin: 10px 0;
        margin-bottom: 5px;
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    >p{
        font-size: 18px;
        margin: 5px 0;
    }

    &_gender-Male,
    &_gender-Female,
    &_gender-unknown{
        padding: 10px 20px;
        border-radius: 30px;
    }

    &_gender-Male{
        background-color: #b7d4e7;
    }

    &_gender-Female{
        background-color: #DDB7E7;
    }

    &_gender-unknown{
        background-color:#b7e7c7
    }

    &:hover{
        cursor: pointer;
        width: 350px;
        height: 400px;
        color: #ffffff;
        text-shadow: #000 0 0 10px;
    }

    &_alive:hover{
        background-color: $green;
    }
    
    &_dead:hover{
        background-color: $red;
    }

    &_unknown:hover{
        background-color: $blue;
    }
}

.loading-text{
    font-size: 28px;
    margin: 0;
    margin-left: 6px;
}

.loading-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.loading {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
  
    >div {
        position: absolute;
        top: 49.5px;
        width: 19.5px;
        height: 19.5px;
        border-radius: 50%;
        background: $darkRed;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    
        &:nth-child(1) {
            left: 12px;
            animation: firstRound 0.6s infinite;
        }
        &:nth-child(2) {
            left: 12px;
            animation: secondRound 0.6s infinite;
        }
        &:nth-child(3) {
            left: 48px;
            animation: secondRound 0.6s infinite;
        }
        &:nth-child(4) {
            left: 84px;
            animation: thirdRound 0.6s infinite;
        }
    }
}
  @keyframes firstRound {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes thirdRound {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes secondRound {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(36px, 0);
    }
  }
  
  .params{
    height: 100px; 
    display: flex;
    flex-flow: column;
    justify-content: space-around;  
    align-items: center;

    &-filter{
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
	    overflow: hidden;
       
        &-button{
            display: inline-block;
            

            &:first-child>label{
                border-radius: 20px 0 0 20px;
                box-shadow: inset 3px 5px 10px rgba(180, 167, 167, 0.342);
            }
    
            &:last-child>label{
                border-radius: 0 20px 20px 0;
                box-shadow: inset -3px 5px 10px rgba(180, 167, 167, 0.342);
            }

            &>input[type=radio]{
                display: none;
                &:checked + label{
                    background: #fff;
                    color:#040323;
                    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
                }
                &:checked + .params-filter-button:first-child>label{
                    box-shadow: inset 3px 5px 10px rgba(0, 0, 0, 0.5);
                }
                &:checked + .params-filter-button:last-child>label{
                    box-shadow: inset -3px 5px 10px rgba(0, 0, 0, 0.5);
                }
            }

            &>label{
                display: inline-block;
	            cursor: pointer;
	            padding: 0px 15px;
	            line-height: 34px;
	            border: 1px solid #000;
	            border: none;
	            user-select: none;
                background-color: #3719CA;
                box-shadow: inset 0 5px 10px rgba(180, 167, 167, 0.342);
                color: white;
                &:hover{
                    color: #666;
                }
            }
        }
    }

    &-pagination{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        >select{
            margin: 5px 30px;
            width: 45%;
            box-sizing: border-box;
            border: 1px solid #3C1C78;
            background-color: #040344;
            color: #F9D9F6;
            padding: 5px 10px;
            border-radius: 10px 10px 0 0;
            text-align: start;
        }

        >div{
            display: inline;
            font-size: 14px;
            font-weight: 500;
            width: 20%;
            text-align: center;
        }
    }
  }

  footer{
      background-color: #040323;
      display: flex;
      flex-flow: row;
      justify-content: center;

      >.header-link{
          margin: 0;

          &:first-of-type{
            width: auto;
          }
      }
  }

  @media (max-width: 1090px){
    .fullCard{
        &-header{
            justify-content: flex-end;
            &-text{
            font-size: 25px;
            }
        }
  }
}
  @media (max-width: 820px){
      .params-pagination{
          flex-flow: column;
          >select{
              width: 90%;
          }
      }

      .card{
          width: 256px;
          height: 280px;
          
         &:hover{
          width: 280px;
          height: 320px;
         }

          >img{
              width: 256px;
              height: 141px;
          }


          &__name{
              margin: 2px;
              font-size: 18px;
          }
      }

      .fullCard{
          width: 90%;
          left: 5%;

          &-header{
              justify-content: flex-end;
          }
      }

      .fullCard-header-text{
          font-size: 20px;
          width: 270px;
      }

  }

  @media(max-width: 480px){
    .fullCard-header-text{
        font-size: 14px;
        width: 200px;
    }
  }